#stage
  #header	
    #meta_area
      #meta_bar
        %ul
          %li
            %a(href="/") Toolbox
          %li
            %a.important(href="#") Hinweise (2)
          %li
            %a(href="#") Username
          %li
            %a(href="#") Abmelden
      .meta_buttons
        %button.top Top-Level Action

    #logo
      .tech tech NaMe
      .userfriendly Userfriendly Name

    #nav_context
      #nav_bar
        %ul
          %li
            %a(href="#") Navigation Item
          %li
            %a.selected(href="#") Selected Navigation Item
          %li
            %a(href="#") Navigation Item
          %li
            %a(href="#") Navigation Item
	
      #subnav
        %ul
          %li
            %a(href="#") Subnav Item
          %li
            %a(href="#") Subnav Item
          %li
            %a(href="#") Subnav Item

  #content
    
    %h1 Buttons
    %p Please use <code>&lt;button type="submit"&gt;</code> instead of <code>&lt;input type="submit"&gt;</code> for forms.

    %h3 Standard Button
    %p
      %button Click Me

    %h3 Disabled Button (class="disabled")
    %p
      %button.disabled Can't click Me

    %h3 Toplevel Button (class="top")
    %p
      %button.top Hero Button
      %br
      This button should only showup once on a page!

  #footer
    Blau Mobilfunk GmbH
