#stage
  #header	
    #meta_area
      #meta_bar
        %ul
          %li
            %a(href="#") Toolbox
          %li
            %a.important(href="#") Hinweise (2)
          %li
            %a(href="#") Username
          %li
            %a(href="#") Abmelden
      .meta_buttons
        %button.top Top-Level Action

    #logo
      .tech tech NaMe
      .userfriendly Userfriendly Name

    #nav_context
      #nav_bar
        %ul
          %li
            %a(href="#") Navigation Item
          %li
            %a.selected(href="#") Selected Navigation Item
          %li
            %a(href="#") Navigation Item
          %li
            %a(href="#") Navigation Item
	
      #subnav
        %ul
          %li
            %a(href="#") Subnav Item
          %li
            %a(href="#") Subnav Item
          %li
            %a(href="#") Subnav Item

  #content
    
    %h1 Styleguide Backoffice
    %p
      Hier entsteht der Styleguide für interne Frontends bei blau

    %h2 Inhalt
    %ul
      %li
        %a(href="/oisi") Beispiel OISI
      %li
        %a(href="/barney") Beispiel Barney

  #footer
    Blau Mobilfunk GmbH
