<?xml version='1.0' encoding='utf-8' ?>
%html(lang='de-DE' xml:lang='de-DE' xmlns='http://www.w3.org/1999/xhtml')
  %head
    %link(rel="stylesheet" href="layout.css" type="text/css" media="screen")
    %link(rel="stylesheet" href="content.css" type="text/css" media="screen")

  %body
    =yield
