#stage
  #header	
    #meta_area
      #meta_bar
        %ul
          %li
            %a(href="#") Toolbox
          %li
            %a.important(href="#") Hinweise (2)
          %li
            %a(href="#") Username
          %li
            %a(href="#") Abmelden
      .meta_buttons
        %button.top Top-Level Action

    #logo
      .tech tech NaMe
      .userfriendly Userfriendly Name

    #nav_context
      #nav_bar
        %ul
          %li
            %a(href="#") Navigation Item
          %li
            %a.selected(href="#") Selected Navigation Item
          %li
            %a(href="#") Navigation Item
          %li
            %a(href="#") Navigation Item
	
      #subnav
        %ul
          %li
            %a(href="#") Subnav Item
          %li
            %a(href="#") Subnav Item
          %li
            %a(href="#") Subnav Item

  #content
    
    %h1 Lists
    %h3 Definition List
    %p Please use <code>&lt;dl&gt;</code> and not <code>&lt;table&gt;</code> for showing detailed information. The ":" is added automatically to the labels. Please do always add units (e.g. Euro, Stück) to numbers for style and readability.

    %dl
      %dt Name
      %dd Niels Linnemann
      %dt Anzahl
      %dd 1.000 Stück
      %dt Preis
      %dd 50.900 Euro
      %dt Auftragstyp
      %dd <a href="#">Kulanz</a>
      %dt Liefertermin
      %dd 24.12.2010, 15:30 Uhr

    %h3 Unordered List
    %ul
      %li Melon
      %li Apple
      %li Bacon
      %li Bacon, again

    %h3 Ordered List
    %ol
      %li blarum
      %li blirum
      %li yorum

  #footer
    Blau Mobilfunk GmbH
