#stage
  #header	
    #meta_area
      #meta_bar
        %ul
          %li
            %a(href="/") Toolbox
          %li
            %a.important(href="#") Hinweise (2)
          %li
            %a(href="#") Maik Pruss
          %li
            %a(href="#") Abmelden

    #logo
      .tech OISI
      .userfriendly Kundenbetreuung

    #nav_context
      #nav_bar
        %ul
          %li
            %a(href="#") Auftragsübersicht
          %li
            %a(href="#") Kontakthistorie
          %li
            %a(href="#") Tarife und Optionen
          %li
            %a(href="#") Aufladungen
          %li
            %a(href="#") Gutscheine prüfen
	
      #subnav
        %button.right Kontakt schließen
        %ul
          %li
            Hans Wurst
          %li
            0178 / 1391002
          %li
            Konto: 12,40 Euro

  #content
    let there be content...

  #footer
    Blau Mobilfunk GmbH
