body {
  font-family: arial;
  color: #555;
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  line-height: 1.4;
}

.right {
  float: right;
}

a {
  color: #009EE0;
	text-decoration: none;
}
	 
a:hover {
  text-decoration: underline;
}
	 

/* --- BUTTONS --- */

button {
  margin: 0;
  padding: 5px 15px 5px 15px;
  border: 1px solid rgb(190,190,190);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  background: 
    -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(200,200,200)),
      color-stop(1, rgb(240,240,240))	
    );

  background: 
    -moz-linear-gradient(
      center bottom,
      rgb(200,200,200) 0%,
      rgb(240,240,240) 100%
    );

  font-family: arial;
  font-weight: bold;
  font-size: 12px;
  color: #666;
}
		
button.top {
	margin: 0;
	padding: 5px 15px 5px 15px;
	border: 1px solid rgb(0,175,0);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	background:
    -webkit-gradient(
		  linear,
			left bottom,
      left top,
      color-stop(0, rgb(0,175,0)),
      color-stop(1, rgb(131,255,105))	
    );

	background: 
    -moz-linear-gradient(
			center bottom,
			rgb(0,175,0) 0%,
			rgb(131,255,105) 100%
		);

	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	color: white;
	text-shadow: rgba(20, 20, 20, 0.699219) 1px 1px 0px;
}
			
button:hover {
  border-color: rgb(26,156,205);
  background:
    -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(26,156,205)),
      color-stop(1, rgb(105,205,243))	
    );

  background: 
    -moz-linear-gradient(
      center bottom,
      rgb(26,156,205) 0%,
      rgb(105,205,243) 100%
    );

  color: white;
  text-shadow: rgba(20, 20, 20, 0.699219) 1px 1px 0px;
}
  
button:active {
	background: rgb(26,156,205);
}

button.disabled {
  color: #bbb;
}

button.disabled:hover {
  /* TODO disable hover */
}

/* --- TABLES --- */

	 
tr:hover{
	background: #f0f0f0;
}

tr.head:hover {
  background: none;
}
	 
table {
  border-collapse: collapse;
  font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}
	 
td, th {
	padding: 10px 55px 5px 5px;
}

td.selector, th.selector {
  padding-right: 5px;
}
	  
th {
	text-align: left;
	border-bottom: 2px solid #ddd;
}

th.sortable {
  background: url('/css/sortable.png');
  background-repeat: no-repeat;
  background-position: 5px 65%; /* left same as padding! */
  padding-left: 13px; /* standard padding, plus bg-icon, plus 3px */
}

th.sortable a {
  color: #555; /* text color */
  text-decoration: none;
}

th.sortable a:hover {
  color: #009EE0; /* standard link color */
  text-decoration: underline;
}

/* --- code / pre --- */
pre {
  background-color:#EEEEFF;
  border:1px solid #DDDDDD;
  margin:20px 10px;
  overflow-x:auto;
  padding:0.4em;
  white-space:pre-wrap;
  word-wrap:break-word;
}

code, pre {
  font-size:95%;
  font:12px Monaco,sans-serif;
}

code {
  background-color:#EEEEFF;
  border:1px solid #DDDDDD;
  padding:0 0.2em;
}

pre code {
  border: 0;
  padding: 0;
}

/* --- DL, Definition Lists --- */
dl {
  line-height: 1.8;
  overflow: auto;
  width: 100%;
  margin-bottom: 25px;
}

dt, dd {
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
  border-bottom: 1px dotted #aaa;
}

dt {
  clear: both;
  width: 100px;
  font-weight: bold;
}

dt:after {
  content: ":";
}

dd {
  text-align: right;
  width: 200px;
}

