body {
  font-family: arial;
  color: #555;
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.right {
  float: right;
}
		 a {
	   color: #009EE0;
	   text-decoration: none;
	 }
	 
	 a:hover {
	   text-decoration: underline;
	 }
	 

/* --- BUTTONS --- */

button {
  margin: 0;
  padding: 5px 15px 5px 15px;
  border: 1px solid rgb(125,125,125);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  background: 
    -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(125,125,125)),
      color-stop(1, rgb(217,217,217))	
    );

  background: 
    -moz-linear-gradient(
      center bottom,
      rgb(125,125,125) 0%,
      rgb(217,217,217) 100%
    );

  font-family: arial;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-shadow: rgba(20, 20, 20, 0.699219) 1px 1px 0px;
}
		
button.top {
	margin: 0;
	padding: 5px 15px 5px 15px;
	border: 1px solid rgb(0,175,0);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	background:
    -webkit-gradient(
		  linear,
			left bottom,
      left top,
      color-stop(0, rgb(0,175,0)),
      color-stop(1, rgb(131,255,105))	
    );

	background: 
    -moz-linear-gradient(
			center bottom,
			rgb(0,175,0) 0%,
			rgb(131,255,105) 100%
		);

	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	color: white;
	text-shadow: rgba(20, 20, 20, 0.699219) 1px 1px 0px;
}
			
button:hover {
  border-color: rgb(26,156,205);
  background:
    -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(26,156,205)),
      color-stop(1, rgb(105,205,243))	
    );

  background: 
    -moz-linear-gradient(
      center bottom,
      rgb(26,156,205) 0%,
      rgb(105,205,243) 100%
    );
}
  
button:active {
	background: rgb(26,156,205);
}

/* --- TABLES --- */

	 
tr:hover{
	background: #f0f0f0;
}
	 
table {
  border-collapse: collapse;
  font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}
	 
td, th {
	padding: 10px 55px 5px 5px;
}

td.selector, th.selector {
  padding-right: 5px;
}
	  
th {
	text-align: left;
	border-bottom: 2px solid #ddd;
}
	
